html {
            background:url(img/queens.jpg) no-repeat center fixed;
            background-size: cover;

         }
         nav {
            margin: 0;
            padding: 0;
            height: 27px;
            background-color: white;
            opacity: .7;
            width: 100%;
            position: relative;
            text-align: center;
         }
          nav {
            height: 30px;
            width:100%;
            margin: 0 auto;
            text-align: center;
         }
          nav ul li {
            font-size: 1em;
            text-align: center;
            font-family: 'Bitter', serif;
            list-style-type:none;
            text-decoration: none;
            display: inline-block;
            color: black;
            border-right: 1px solid;
         }
         nav ul li:first-of-type {
            border-left: 1px solid;
         }
         nav ul li:hover {
            color:darkgrey;
            font-size: .98em;
         }
         a {
            color: black;
            font-variant: normal;
            text-decoration: none;
         }

         section {
            background-color: white;
            opacity: .8;
            padding-bottom: 3px;
            padding-right: 4em;
         }
         section ul li{
            font-size: 3em;
            line-height:3em;
            font-family: 'Bitter', sans-serif;
            font-weight: bolder;
            position: relative ;
            width: 100%;
            text-align: center;
            list-style-type: none;
         }
         section ul li ol li {
            font-size: 1em;
            line-height: 1em;
            font-family: 'Abel', sans-serif;
            text-align:center;
            list-style-type: none;
            width: 100%;
            margin-bottom: 2em;
         }

         h1 {
            font-weight: bolder;
            font-size: 16.5em;
            font-weight: bolder;
            font-family: 'Abel', sans-serif;
            color: #9900CC;
            background-color:black;
            line-height: 1em;
            opacity:.7;
            text-align: right;
            padding-right: 20%;
            font-weight: bolder;

         }
         footer p {
            background-color: black;
            color:white;
            text-align: center;
            font-family: 'Bitter', serif;
            font-size: 1em;
            line-height: 29px;
            text-indent: 2px;

         }
         p {
            font-family: 'Bitter', serif;
            font-size: 4em;
            line-height: 2em;
            text-align:center;
            font-weight:bolder;
            color:white;
            background-color: black;
            opacity:.7;
            float:left;
            width: 100%;
         }

         a {
            color:black;

         }
